body {
	width: 100%;
	box-sizing: border-box;
}
main {
	@include screensize(desktop) {
		@include reducewidth(80%);
	}
}
a {
	text-decoration: none;
	color: inherit;
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
