@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");

body {
	font-family: "Roboto", sans-serif;
}
h1 {
	font-family: "Roboto", sans-serif;
	@include font(24px, bold);
}
.menu h1 {
	font-family: "Shrikhand", cursive;
	@include font(28px, reg);
}
h2 {
	@include font(24px, bold);
}
.menu h2 {
	@include font(16px, light);
	text-transform: uppercase;
}
h3 {
	@include font(18px, bold);
}
h4 {
	font-family: "Shrikhand", cursive;
	@include font(18px, reg);
}
.fonct li {
	@include font(16px, medium);
}
figcaption p {
	@include font(17px, light);
}
.dish p {
	@include font(15px, light);
}
.price {
	@include font(15px, bold);
}
