@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap');

body  {font-family: 'Roboto', sans-serif;}
h1{ font-family: 'Roboto', sans-serif; font-size: 24px; text-align: center; font-weight:700;}
h2{font-size: 24px; font-weight:700; 
    }
h3{font-size: 18px;font-weight:700;}

h4{font-family: 'Shrikhand', cursive;
font-size:18px;
font-weight:400;}
button {font-size:15px;}
figcaption p { font-size:17px; font-weight:300;}
body {width:375px; 
    // border: solid black 1px;
}

*, 
*::after,
*::before  {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    
}

// font-family: 'Shrikhand', cursive;