@mixin centerblock {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

@mixin centerblock2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	// justify-content: center;
}
@function mult3($arg) {
	@if ($arg%3) ==0 {
		@return 3;
	} @else {
		@return ($arg % 3);
	}
}
