.foot {
	width: 100%;
	background-color: map-get($greys, darker);
	color: white;
	padding: 22px 25px 30px 25px;
	&__head {
		margin-bottom: 17px;
	}
	&__cont {
		list-style-type: none;
		& li {
			padding-bottom: 8px;
			font-size: 16px;
			& i {
				font-size: 13px;
				padding-right: 19px;
			}
		}
	}
}
