.foot {
	width: 100%;
	background-color: map-get($greys, darker);
	color: white;
	padding: 22px 6.6% 30px 6.6%;
	&__head {
		margin-bottom: 17px;
	}
	&__cont {
		list-style-type: none;
		@include screensize(tablet) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
			grid-auto-flow: column;
		}
		@include screensize(desktop) {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: auto;
		}
		& li {
			padding-bottom: 8px;
			@include font(16px, reg);
			& i {
				font-size: calculateRem(13px);
				padding-right: 19px;
			}
		}
	}
}
