.head {
	width: 100%;
    height: 55px;
margin-top:8px;
    background: url("../img/ohmyfood2x.svg") no-repeat center;
    background-size:200px 28px;

	&__arrow {
		margin-left: 20px;
		height: 65px;
		display: flex;
		align-items: center;
		& a {
			text-decoration: none;
			& i {
				color: #353535;
				font-size: 19px;
			}
		}
		&--hidden {
			display: none;
		}
	}
}
